<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="master">
<head>
    <title>Users</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-12">
                <h3>Users <small>List of users</small></h3>
            </div>
        </div>
        <div class="row v-offset-15">
            <div class="col-md-12">
                <table class="table table-vcenter" th:with="self = ${#authentication.principal.user}">
                    <thead>
                        <th>#</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}">0</td>
                            <td th:text="${user.username}">nick</td>
                            <td th:text="${user.email}">nick@example.com</td>
                            <td>
                                <span th:if="${user.enabled}" class="label label-success">Enable</span>
                                <span th:unless="${user.enabled}" class="label label-default">Disable</span>
                            </td>
                            <td>
                                <a th:href="@{'/admin/users/' + ${user.id} + '/edit'}" class="btn btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit
                                </a>

                                <button th:if="${self.id != user.id}" type="button" class="btn btn-default" data-toggle="modal"
                                        data-target="#confirmDelete" th:attr="data-url=@{'/admin/users/' + ${user.id}}">
                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <th:block layout:insert="fragments/modal
            :: modal(   mId='confirmDelete', mMethod='delete', mTitle='Delete user',
                        mContent='Are you sure you want to delete this user?', mButton='Delete')">
        </th:block>
    </div>

    <script layout:fragment="script">
        $('#confirmDelete').on('show.bs.modal', function(event) {
            $('#modalForm').attr('action', $(event.relatedTarget).data('url'));
        });
    </script>
</body>
</html>