<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="master">
<head>
    <title>Posts</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-8">
                <article th:each="post : ${posts.content}" class="vb-offset-15">
                    <h3 th:text="${post.title}">Blog post title</h3>
                    <p>
                        Posted by <span class="glyphicon glyphicon-user"></span>
                        <th:block th:text="${post.author.username}">Author</th:block>
                        , on <span class="glyphicon glyphicon-time"></span>
                        <th:block th:text="${#dates.format(post.createdDate, 'dd/MM/yyyy HH:mm')}">Created date</th:block>
                    </p>
                    <th:block th:if="${post.image}">
                        <hr>
                        <img class="img-responsive" th:src="@{'/posts/' + ${post.id} + '/image'}" alt="image"/>
                    </th:block>
                    <hr>
                    <p th:utext="${#strings.abbreviate(post.content, 400)}">Blog post content</p>
                    <a th:href="@{'/posts/' + ${post.id} + '/details'}" class="btn btn-primary">
                        Read more &raquo;
                    </a>
                </article>

                <ul class="pagination">
                    <li th:classappend="${current == 1} ? 'disabled' : ''">
                        <span th:if="${current == 1}">
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                        <a th:unless="${current == 1}" th:href="@{'/posts/' + ${current - 1}}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(begin, end)}" th:classappend="${i == current} ? 'active' : ''">
                        <span th:if="${i == current}" th:text="${i}">1</span>
                        <a th:unless="${i == current}" th:href="@{'/posts/' + ${i}}" th:text="${i}">1</a>
                    </li>
                    <li th:classappend="${current == posts.totalPages} ? 'disabled' : ''">
                        <span th:if="${current == posts.totalPages}">
                           <span aria-hidden="true">&raquo;</span>
                        </span>
                        <a th:unless="${current == posts.totalPages}" th:href="@{'/posts/' + ${current + 1}}">
                           <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Blog Search
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" id="searchForm"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script layout:fragment="script">
        $(document).ready(function() {
            $('#searchForm').autocomplete({
                minLength: 2,
                source: function(request, response) {
                    $.getJSON('/posts/autocomplete', request, function(data) {
                        response($.map(data, function(item) {
                            return {
                                value: item.title,
                                url: '/posts/' + item.id + '/details'
                            }
                        }));
                    })
                },
                select: function(event, ui) {
                    window.location.href = ui.item.url;
                }
            });
        });
    </script>
</body>
</html>