<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">MyBlog</title>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'  type='text/css'>

    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <!-- Collapsed Hamburger -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-content">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MyBlog</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-content">
                <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" onclick="   event.preventDefault();
                                                document.getElementById('logout-form').submit();">
                            Logout
                        </a>

                        <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;"></form>
                    </li>
                </ul>
                <ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/login}">Sign in</a></li>
                    <li>
                        <p class="navbar-btn">
                            <a th:href="@{/register}" class="btn btn-primary">Sign up</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div layout:fragment="content" class="container">
        <p>Content</p>
    </div>

    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
</body>
</html>