<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="master">
<head>
    <title>Register</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-8">
            <form th:action="@{/register}" th:object="${user}" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="text" class="form-control" th:field="*{username}" placeholder="Username"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <input type="text" class="form-control" th:field="*{email}" placeholder="Email"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <input type="password" class="form-control" th:field="*{password}" placeholder="Password"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <input type="password" class="form-control" th:field="*{confirmPassword}" placeholder="Confirm password"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-4">
            <p>Widget</p>
        </div>
    </div>
</div>
</body>
</html>