<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="master">
<head>
    <title>Register</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Register
                    </div>
                    <div class="panel-body" style="padding-bottom: 0;">
                        <form th:action="@{/register}" th:object="${user}" method="post" class="form-horizontal">
                            <div class="form-group" th:classappend="${#fields.hasErrors('username') ? 'has-error' : ''}">
                                <label for="username" class="col-md-3 control-label">Username: </label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Choose an username" required/>
                                    <span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                                </div>
                            </div>

                            <div class="form-group" th:classappend="${#fields.hasErrors('password') ? 'has-error' : ''}">
                                <label for="password" class="col-md-3 control-label">Password: </label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Choose a password" required/>
                                    <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                                </div>
                            </div>

                            <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword') ? 'has-error' : ''}">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="password" class="form-control" th:field="*{confirmPassword}" placeholder="Please type your password again" required/>
                                    <span class="help-block" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
                                </div>
                            </div>

                            <div class="form-group" th:classappend="${#fields.hasErrors('email') ? 'has-error' : ''}">
                                <label for="email" class="col-md-3 control-label">Email: </label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="email" th:field="*{email}" placeholder="Email address" required/>
                                    <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-primary">Sign up now!</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-2">
                <p>Widget</p>
            </div>
        </div>
    </div>
</body>
</html>