# DATASOURCE
datasource.driverClassName = com.mysql.jdbc.Driver
datasource.url = jdbc:mysql://localhost:3306/db_name?useUnicode=true&characterEncoding=utf8
datasource.username = db_user
datasource.password = db_password

# JPA / HIBERNATE
hibernate.dialect = org.hibernate.dialect.MySQL5Dialect
hibernate.hbm2ddl.auto = update
hibernate.show_sql = true

jpa.validation.mode = none
