body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
}

.table-vcenter td {
    vertical-align: middle!important;
}

.v-offset-15 {
    margin-top: 15px;
}

.vb-offset-15 {
    margin-bottom: 15px;
}